.products_container {
  display: grid;
  gap: 5rem;
  grid-template-columns: repeat(3, 1fr);
}

.img_wrapper img {
  border: 0;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.product_info_container {
  text-align: center;
  margin-bottom: 4rem;
}

.product_info_container h2 {
  color: var(--highlight-color);
  margin-bottom: 2rem;
}

.product_info_container p {
  color: var(--primary-color);
  font-weight: 500;
  font-size: 1.6rem;
}

.product_info_container .price {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 4rem;
}

.button {
  width: 100%;
  background: white;
  border: 5px solid var(--primary-color);
  padding: 1rem;
  color: var(--primary-color);;
  font-weight: 700;
}

