<nav class="nav">
  <ul>
    <li class="logo">
      <a href="/">Logo</a>
    </li>
    <li>
      <a class="<%= path === '/' && 'active'%>" href="/">Inicio</a>
    </li>
    <li>
      <a class="<%= path === '/productos' && 'active'%>" href="/productos"
        >Productos</a
      >
    </li>
  </ul>
</nav>
