<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./includes/head.ejs') %>
  </head>
  <body>
    <header><%- include('./includes/nav.ejs') %></header>
    <main>
      <h1 class="page-title">Producto Nuevo</h1>
      <form class="form" action="/productos" method="POST">
        <div>
          <label for="title">Titulo: </label>
          <input type="text" name="title" id="title" />
        </div>
        <div>
          <label for="price">Precio: </label>
          <input type="number" name="price" id="price" />
        </div>
        <div>
          <label for="thumbnail">Thumbnail URL: </label>
          <input type="text" name="thumbnail" id="thumbnail" />
        </div>
        <button type="submit">Agregar producto</button>
      </form>
    </main>
  </body>
</html>
