.container {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  gap: 5rem;
}

.orders_wrapper ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.user_details_wrapper h2,
.orders_wrapper h2 {
  color: #fff;
  margin-bottom: 0.5rem;
}

.user_details {
  border-radius: 1rem;
  border: 1px solid #ccc;
  padding: 2rem 4rem;
}
/* .img_wrapper img {
  border: 0;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.product_info_container {
  text-align: center;
  margin-bottom: 4rem;
}

.product_info_container h2 {
  color: var(--highlight-color);
  margin-bottom: 2rem;
}

.product_info_container p {
  color: var(--primary-color);
  font-weight: 500;
  font-size: 1.6rem;
}

.product_info_container .price {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 4rem;
} */
