@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Monument Extended', sans-serif;
  font-weight: 400;
  color: #000;
  font-size: 1.6rem;
  line-height: 1.5;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.main-container {
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
}

.button {
  padding: 2rem;
  border: 1px solid #000;
  background-color: #000;
  color: #fff;
  border-radius: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  width: 20rem;
  align-self: center;
}

.button:hover {
  cursor: pointer;
}

.nav {
  padding: 2rem;
  border: 1px solid #ccc;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.nav ul {
  display: flex;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 2rem;
}

.login {
  margin-left: auto;
}

.login-section {
  padding-top: 2rem;
}

.login-form {
  max-width: 60rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.login-form input {
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid #ccc;

}
