.page_title {
  margin-top: 2rem;
}

.random {
  margin-top: 2rem;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 1rem;
  width: 50%;
  margin: 0 auto;
}

.random_wrapper {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem
}