.nav {
  padding: 2rem 4rem;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.nav ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.logo {
  font-weight: bold;
  font-size: 2rem;
  margin-right: auto;
}

.greeting {
  font-weight: bold;
}


