<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta http-equiv='X-UA-Compatible' content='ie=edge' />
    <title>{{pageTitle}}</title>
    <link rel='stylesheet' href='/css/main.css' />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
    
  </head>

  <body>
    <header>
      <nav class='nav'>
        <ul>
          <li class='logo'>
            <a href='/'>Logo</a>
          </li>
          <li>
            <a class='{{#if activeHome}}active{{/if}}' href='/'>Inicio</a>
          </li>
          {{!-- <li>
            <a
              class='{{#if activeProducts}}active{{/if}}'
              href='/productos'
            >Productos</a>
          </li> --}}
        </ul>
      </nav>
    </header>

    {{{body}}}
     
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/index.js">

    </script>
  </body>

</html>